.main-container--home-page {
    margin-top: 4rem;
    text-align: center;
}

.header__welcome {
    margin-bottom: 4rem;
}

@media all and (min-width:840px) {
    .main-container--home-page {
        margin-top: 15rem;
    }
    .header__welcome {
        font-size: 5rem;
        margin-bottom: 6rem;
    }
  }