.btn-get-activity {
    background-color: rgb(230, 132, 12);
    padding: 0.5rem 3rem;
    border-radius: 0.5rem;
    border: none;
    font-size: 1.5rem;
    color: white;
    width: 50vw;
    max-width: 520px;
}

@media all and (min-width:840px) {

    .btn-get-activity {
        font-size: 2rem;
        padding: 1rem;
     }
  }